<!-- <div class="container">
  <div class="right">
    <ul>
      <li>launchDate: {{ launch.launchDate }}</li>
      <li>launchType: {{ launch.launchType }}</li>
      <li>name: {{ launch.name }}</li>
      <li>payload: {{ launch.payload }}</li>
    </ul>
  </div>
  <div class="left" *ngFor="let item of launchesList">
    <button (click)="onSelectOfLaunch(item)">
      {{ item.name }}
    </button>
  </div>
</div>
 -->
<div class="container">
  <div class="right">
    <ul>
      <li>launchDate: {{ launch?.launchDate }}</li>
      <li>launchType: {{ launch?.launchType }}</li>
      <li>name: {{ launch?.name }}</li>
      <li>payload: {{ launch?.payload }}</li>
    </ul>
  </div>
  <div class="left" *ngFor="let item of launchesList$ | async">
    <button (click)="onSelectOfLaunch(item)">
      {{ item.name }}
    </button>
  </div>
</div>
